
main h2 {
  text-align: center;
}
#wearingSection,
#accessorySection,
#digitalSection {
  background-color: var(--lightGray-color);
  height: 100%;
  
}
.sectionTitle {
  width: 15rem;
  margin-left: 2rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-color);
  border-bottom: 0.1rem solid var(--darkGray-color);
}
.productsContainer ul {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  
}
.productsContainer ul li {
  background: rgb(45, 45, 181);
  background: linear-gradient(
    90deg,
    rgba(45, 45, 181, 0.9837184873949579) 0%,
    rgba(14, 14, 79, 1) 35%,
    rgba(0, 212, 255, 1) 80%
  );
  padding: 1rem;
  border-radius: var(--border-radius-md);
  transition: all 0.2s linear;
  color: var(--lightGray-color);
}
.productsContainer ul li:hover {
  background-color: var(--dark-color);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--black-color);
}

.productsContainer ul li .productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.productCard a img {
  max-width: 28rem;
  border-radius: var(--border-radius-50);
  padding: 0 2.5rem;
  border-top: 1rem solid var(--black-color);
  border-bottom: 1rem solid var(--black-color);
}

.productBrand {
  font-size: 2rem;
}
.productPrice {
  color: var(--light-color);
}
.addToCardBtn {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s linear;
  width: 100%;
}

.addToCardBtn:hover {
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 0.2rem 0.3rem 0.3rem var(--primary-color);
}

/* wearing section */

.productsContainer.digital {
  position: relative;
}
.productsContainer.digital ul {
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-around;
  gap: 2rem;
  max-width: 110rem;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.productsContainer.digital .productCard {
  overflow: hidden;
  width: 100%;
}

.digital-icons-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 22rem;
}
.digital-icons-container i {
  background-color: var(--dark-color);
  padding: 1rem;
  color: var(--light-color);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s linear;
}
.digital-icons-container i:hover {
  opacity: 1;
}

/* slider section */

.paginationContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 auto;
  padding-bottom: 2rem;
}
.paginationContainer i {
  cursor: pointer;
  color: var(--dark-color);
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: var(--border-radius-md);
}
.paginationNumbers .pagination-number {
  padding: 1.5rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.paginationNumbers .pagination-number:hover,
.paginationNumbers .pagination-number.active {
  background-color: var(--primary-color);
}
.hidden {
  display: none;
}
.disabled {
  color: var(--lightGray-color) !important;
}

/* pagination-section */

.darkTheme {
  --light-color: #000;
  --black-color: snow;
  --primary-color: #C92C6D;
  --accent-color: #d57d00;
  --dark-color: snow;
  --secondary-color: #515151;
  --blueViolet-color: blueviolet;
  --darkGray-color: #343444;
  --lightGray-color: #000;
  --gray-color: #ccc;
}
