header {
    height: 15vh;
}
header nav {
    background: rgb(45,45,181);
    background: linear-gradient(90deg, rgba(45,45,181,0.9837184873949579) 0%, rgba(14,14,79,1) 35%, rgba(0,212,255,1) 80%);
    padding: 1rem 2rem;
}
#navbarItemsContainer {
    padding: 1rem;
}
#menuItems {
    width: 35rem;
}
#menuItems li {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
}
#menuItems li.active,#menuItems li:hover {
   background-color: rgb(9, 179, 179);
}

#navbarItemsContainer i,#cardContainer i {
    padding: 2rem;
    background-color: azure;
    border-radius: 1rem;
}
#navbarItemsContainer i:hover,#cardContainer i:hover {
    background-color: rgb(9, 179, 179);
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0,0,0,0.8);
}
